*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Mac
.DS_Store
.DS_STORE

# RVM
.rvmrc
.ruby-version
.ruby-gemset

# Bundler
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# Project
spec/support/credentials.yml